@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.googleapis.com/css?family=Quattrocento";
@import "https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  z-index: 2;
  display: flex;
  height: 100px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav ul li a.active {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type=checkbox] {
  display: none;
}

#click:checked ~ .menu-btn i:before {
  content: "\f00d";
}
#click:checked ~ ul {
  left: 0;
}
#click:checked ~ ul li a {
  margin-left: 0px;
}

main {
  background-color: white;
  background-image: url(img/fixbcg.jpg);
  text-align: center;
}

.swiper-container {
  top: 18vh;
  width: 100%;
  height: 100%;
  margin-bottom: 20vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/aa.jpg);
  min-width: 100px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  max-height: 300px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2vh;
}

.card_container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.card_border {
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
  max-width: 1000px;
  min-height: 200px;
  padding: 2em;
  position: relative;
}

.foto_profile {
  border: 5px solid rgba(255, 255, 255, 0.5);
  max-width: 900px;
  width: 50%;
  min-width: 125px;
  height: auto;
  border-radius: 20px;
  position: relative;
}

.profile_foto {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.profile_content {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.biodata_profile {
  margin: 0.5em;
  width: 100%;
  text-align: justify;
}

.profile_name {
  font-weight: bold;
  color: #f34213;
  text-decoration: none;
}

.maps-card {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 45%;
  min-width: 300px;
  margin: 2%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.maps-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 0 10px 40px 10px;
}

.maps-iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  margin: auto;
}

.maps-iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.maps-card-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  text-align: center;
}
.maps-card-description p {
  margin: auto;
  line-height: 1.5;
}

